/* Source: https://css-tricks.com/adaptive-photo-layout-with-flexbox */
ul {
  list-style-type: none;
  margin: 3px;
  padding: 0;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  
  li {
    height: 40vh;
    flex-grow: 1;
    overflow: hidden;
    border: 3px solid black;

    a {
      figure {
        position: relative;
        margin: 0;

        img {
          max-height: 100%;
          min-width: 100%;
          object-fit: cover;
          vertical-align: bottom;
        }

        figcaption {
          position: absolute;
          width: 100%;
          height: 5vh;
          line-height: 5vh; /* to vertically center text */
          top: 35vh;
          z-index: 1;
          background-color: white;
          color: black;
          text-align: center;
        }
      }
    }

    &:last-child {
      flex-grow: 10;
    }
  }

}