/* Mixin for vendor prefixes: https://www.w3schools.com/sass/sass_mixin_include.asp
   Box-shadow resource: https://www.cssmatic.com/box-shadow
*/
@mixin box-shadow( $property ) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  -ms-transform: $property;
  box-shadow: $property;
}

/* Source: https://css-tricks.com/adaptive-photo-layout-with-flexbox */
ul {
  list-style-type: none;
  margin: 3px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  li {
    height: 40vh;
    flex-grow: 1;
    overflow: hidden;
    margin: 3px;
    transform: scale(0.98);
    transition: transform 0.25s ease, 
                box-shadow 0.25s ease;
    
    @include box-shadow( 0px 0px 2px 0px rgba(0,0,0,0.5) );

    &:hover {
      transform: scale(1);
      @include box-shadow( 0px 0px 4px 2px rgba(0,0,0,0.4) );
    }

    a {
      figure {
        position: relative;
        margin: 0;
        height: 100%; /* to vertically centre image */
        
        figcaption {
          position: absolute;
          padding: 0 10px;
          height: 5vh;
          line-height: 5vh; /* to vertically center text */
          bottom: 0;
          z-index: 1;
          background-color: white;
          color: black;
          text-align: center;
          opacity: 0.9;
        }
      }
    }

    img {
      /* max-height: 100%; */
      height: inherit; /* needed for tablet view to keep label on bottom of image */
      /* min-width: 100%;
      width: fit-content; */ /* needed to keep image ratio on tablet view */
      width: 100%;
      object-fit: cover;
      vertical-align: bottom;
    }

    &:last-child {
      flex-grow: 10;
    }
  }
}
