/**
 * Responsive breakpoint dimensions
 */
$tablet-height: 768;
$tablet-width: 1024;
$mobile-max-width: $tablet-height - 1;

/* Mixin for vendor prefixes: https://www.w3schools.com/sass/sass_mixin_include.asp
   Box-shadow resource: https://www.cssmatic.com/box-shadow
*/
@mixin box-shadow( $property ) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  -ms-transform: $property;
  box-shadow: $property;
}

/* Used by responsive layout */
@mixin mobile {
  @media (max-width: $mobile-max-width + 'px') {
    @content; // inserts content from where this is called     
  }
}

@mixin mobile-landscape {
  @media (max-width: $mobile-max-width + 'px') and (orientation: landscape) {
    @content; // inserts content from where this is called     
  }
}

@mixin mobile-portrait {
  @media (max-width: $mobile-max-width + 'px') and (orientation: portrait) {
    @content; // inserts content from where this is called     
  }
}

@mixin tablet {
  @media (max-width: $tablet-width + 'px') {
    @content; // inserts content from where this is called     
  }
}

@mixin tablet-landscape {
  @media (max-width: $tablet-width + 'px') and (orientation: landscape) {
    @content; // inserts content from where this is called     
  }
}

@mixin tablet-wide-portrait {
  @media (max-width: $tablet-width + 'px') and (orientation: portrait) {
    @content; // inserts content from where this is called     
  }
}

/* Source: https://css-tricks.com/adaptive-photo-layout-with-flexbox */
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 2px;
  
  li {
    height: 30vh;
    flex: 1 1 auto;
    overflow: hidden;
    margin: 8px;
    transition: transform 0.25s ease, 
                box-shadow 0.25s ease;
    
    @include box-shadow( 0px 0px 2px 0px rgba(0,0,0,0.6) );

    &:hover {
      transform: scale(1.02);
      @include box-shadow( 0px 0px 4px 2px rgba(0,0,0,0.33) );
    }
    
    /*
    &:last-child {
      flex-grow: 10;
    }
    */

    a {
      figure {
        position: relative;
        margin: 0;
        height: 100%; /* to vertically centre image */

        /* 
        padding: 3px;
        background-color: #FFF; 
        */

        figcaption {
          position: absolute;
          /* margin: 0 -3px; */
          height: 5vh;
          line-height: 5vh; /* to vertically center text */          
          bottom: 0;
          z-index: 1;
          background-color: white;
          color: black;
          text-align: center;          
          width: 100%;
          /* max-width: 100%; */
          opacity: 0.9;

          h3 {
            margin: 0;
            padding: 0 1em;
            font-size: 0.9em;
            font-weight: normal;
            font-family: monospace;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @include mobile {
              font-size: 0.7em;
            }
          }
        }
      }
    }

    img {
      /* max-height: 100%; */
      height: inherit; /* needed for tablet view to keep label on bottom of image */
      min-width: 100%;      
      /* width: fit-content; */ /* needed to keep image ratio on tablet view */      
      /* width: 99%; needed if adding padding for polaroid border */
      object-fit: cover;
      vertical-align: bottom;

      @include mobile {
        width: 100%; /* needed for mobile to keep height same for each image */
      }

      @include mobile-landscape {
        min-width: unset;
        height: 100%;
      }
    }

    @include tablet-landscape {
      flex: 1 1 30%;
    }

    @include tablet-wide-portrait {
      flex: 1 1 45%;
      height: 25vh;   
    }

    @include mobile {
      margin: 4px;
    }

    @include mobile-landscape {
      height: 40vh;
    }
  }

  &.albums {
    li {
      border: 3px solid white;
    }
  }
}
