.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(10, 10, 10, 0.9);
  height: 100vh;
  width: 100vw;
  z-index: 999;

  &:hover {
    cursor: pointer;
  }

  figure {
    cursor: default;
  }
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.close {
  position: absolute;
  top: 10px;
  right: 30px;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: 0;

  &:hover {
    color: blue;
    text-decoration: underline;
  }
}

/*
.hidden {
  display: none;
}
*/
